# --------------------------------------------------------------------------- #
# Engenharia e Análise de Dados (Coleta, Tratamento e Junção)                #
# --------------------------------------------------------------------------- #
pandas<3
numpy
pyarrow
requests
sidrapy

# --------------------------------------------------------------------------- #
# Visualização e Análise Exploratória (EDA)                                  #
# --------------------------------------------------------------------------- #
matplotlib
seaborn

# --------------------------------------------------------------------------- #
# Aprendizado de Máquina e Modelagem Estatística                              #
# --------------------------------------------------------------------------- #
scikit-learn
xgboost
statsmodels

# --------------------------------------------------------------------------- #
# Dados Espaciais e Geográficos                                               #
# --------------------------------------------------------------------------- #
geopandas

# --------------------------------------------------------------------------- #
# Desenvolvimento, Notebooks e Configuração                                   #
# --------------------------------------------------------------------------- #
ipykernel
python-dotenv
