# Análise de Dados Básica
pandas
numpy
pyarrow

# Coleta (APIs públicas: SIDRA/IBGE, BCB, INMET...)
requests

# Visualização de Dados
matplotlib
seaborn

# Aprendizado de Máquina e Estatística
scikit-learn
xgboost
statsmodels

# Dados Espaciais e Geográficos
geopandas
pysal

# Ambiente de Desenvolvimento e Jupyter
jupyterlab
notebook
ipykernel

# Utilitários Adicionais
python-dotenv
openai
langchain
